<% provide(:title, "Help")%>
<h3><%= yield(:title) %> <%= displayTitle(yield(:title)) %> </h3>



<p>Find me in app/views/static_pages/help.html.erb</p>


<p>Get help from here! or contact <a href="https://github.com/tingluhk">tinglu</a></p>
