<% provide(:title, "Sign up")%>

<h1><%= yield(:title) %> Page</h1>

<label for="fname">firstname</label><input type="text" id="fname">
<label for="lname">lastname</label><input type="text" id="lname">
<button class="btn btn-primary">submit</button>
