<footer class="footer">
  <small>
    text here <a href="#">link here</a>
    by person =  <a href="#">Name here</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "help", help_path %></li>
    </ul>
  </nav>
</footer>
