<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">\



    <title>Bootstrap App05</title>
    <link rel="stylesheet" href="https://rawgit.com/tingluhk/bootstrapApp05/thomas/0501/src/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://rawgit.com/tingluhk/bootstrapApp05/thomas/0501/src/css/font-awesome.min.cssgithubusercontent.com/tingluhk/bootstrapApp05/thomas/0501/src/css/bootstrap.css">
    <link rel="stylesheet" href="https://rawgit.com/tingluhk/bootstrapApp05/thomas/0501/src/css/font-awesome.min.cssgithubusercontent.com/tingluhk/bootstrapApp05/thomas/0501/src/css/style.css">
  </head>
  <body>


    <button id="button01">testbtn</button>



<div class="pageBreak01">
  <h4>AlignItems & justifyContent</h4>
</div>


<div class="container">

  <div class="row">
    <div class="col-sm-4 mx-auto" >
      <select class="callOutStyleTB custom-select" multiple>
        <option value="stretch" selected>stretch</option>
        <option value="flex-start">flex-start</option>
        <option value="center">center</option>
        <option value="flex-end">flex-end</option>
      </select>
    </div>

    <div class="col-sm-4 mx-auto">
      <select  style="height:15vh" class="callOutStyleLR custom-select" multiple>
        <option value="flex-start" selected>flex-start</option>
        <option value="center">center</option>
        <option value="flex-end">flex-end</option>
        <option value="space-around">space-around</option>
        <option value="space-between">space-between</option>
      </select>
    </div>

  </div>
</div>





<div class="callOutContainer borderB01">
  <div class="callOut">
    <h4>Header01</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ad corporis itaque veritatis quae mollitia et odio aliquam voluptate dicta, consequuntur numquam voluptatem accusantium iste expedita, quidem dolore aliquid, illo animi, iusto dolorum tempore. Autem soluta magni dicta eos voluptatibus, iste, ex quod doloribus ad tenetur.
    </p>
  </div>

  <div class="callOut">
    <h4>Header02</h4>
    <p>2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ad corporis itaque veritatis quae mollitia et odio aliquam voluptate dicta, consequuntur numquam voluptatem accusantium iste expedita, quidem dolore aliquid, illo animi.
    </p>
  </div>

  <div class="callOut">
    <h4>Header03hgroup</h4>
    <p>3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ad corporis itaque veritatis quae mollitia et odio aliquam voluptate dicta, consequuntur numquam voluptatem accusantium iste expedita, quidem dolore aliquid, illo animi.
    </p>
  </div>

  <div class="callOut">
    <h4>Header04h</h4>
    <p>some more items here
    </p>
  </div>
</div>


<div class="pageBreak01">
  <h4>flex Wrap</h4>
</div>


  <div class="container">
    <div class="row">
      <div class="col-sm-4 mx-auto" >
        <select class="callOutflexWrap custom-select" multiple>
          <option value="wrap">wrap</option>
          <option value="nowrap" selected>nowrap</option>
          <option value="wrap-reverse">wrap-reverse</option>
        </select>
      </div>
    </div>
  </div>


  <div class="fixedContainer02">
    <div class="fixedBox01">1</div>
    <div class="fixedBox01">2</div>
    <div class="fixedBox01">3</div>
    <div class="fixedBox01">4</div>
    <div class="fixedBox01">5</div>
    <div class="fixedBox01">6</div>
  </div>


<div class="pageBreak01"><h4>Vertical center content</h4></div>

<div class="banner">
  <div class="centerMe">I am centered</div>
</div>


<div class="pageBreak01"><h4>Float Column Layout</h4>
  <p>flex-direction</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 mx-auto" >
      <select class="callOutflexDirection custom-select" multiple>
        <option value="column">column</option>
        <option value="column-reverse" selected>column-reverse</option>
        <option value="row">row</option>
        <option value="row-reverse">row-reverse</option>
      </select>
    </div>
  </div>
</div>

<div class="equalContainer">
  <div class="firstBox">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia error, aperiam dolor totam. Voluptates eos iusto minima id amet facere maiores tempora molestias quod, et, nobis ab earum officiis. Accusantium!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia error, aperiam dolor totam. Voluptates eos iusto minima id amet facere maiores tempora molestias quod, et, nobis ab earum officiis. Accusantium!</p>
  </div>
  <div class="secondBox">
    <div class="second01">01</div>
    <div class="second02">02</div>
  </div>
</div>














<script type="text/javascript" src="https://rawgit.com/tingluhk/bootstrapApp05/thomas/0501/src/js/jquery.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/tingluhk/bootstrapApp05/thomas/0501/src/js/popper.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/tingluhk/bootstrapApp05/thomas/0501/src/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/tingluhk/bootstrapApp05/thomas/0501/src/js/cus01.js"></script>


  </body>
</html>
